# Numerous always-ignore extensions
*.diff
*.err
*.log	
*~
*.sass-cache
# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
.idea
Thumbs.db
node_modules/
bower_components/

# files needed for work
dist/
